<h1>Produits disponibles</h1>
<ul>
<% @productions.each do |prod| %>
  <%= link_to production_path(prod) do %>
    <li>
    <!-- Photo si photo -->
      <div>
        <h3>
          <%= prod.name.pluralize %> de <%= prod.user.email %>
        </h3>
        <div>
          <%= prod.price %> €
          <%= prod.price_unit %>
          <% if prod.user.address? %>
            <%= prod.user.address %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
<% end %>
</ul>
<% if user_signed_in? && current_user.producer? %>
  <%= link_to "New production", new_production_path %>
<% end %>
