<h1 class="text-center">Chez Robert !</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="text-center">
        <%= link_to "Production Index", productions_path %> |
        <%= link_to "New Production", new_production_path %>
      </div>
    </div>
  </div>
  <br><br>
  <div class="row">
    <% @productions.last(4).each do |prod| %>
      <div class="col-sm-3">
        <% if prod.photo? %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
     url('<%= cl_image_path prod.photo.path, height: 300, width: 400, crop: :fill %>')">
            <% if prod.user.photo? %>
              <div class="card-user">
                <%= cl_image_tag avatar_image(prod.user), class: "avatar-bordered" %>
              </div>
            <% end %>
            <div class="card-title">
              <h2><%= prod.name.pluralize %></h2>
            </div>
            <div class="card-description">
              <%= prod.quantity %> <%= prod.unit %> à
              <%= prod.price %> € <%= prod.price_unit %>
            </div>
          </div>
        <% else %>
         <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
     url('<%= asset_url 'tomates.jpg', height: 300, width: 400, crop: :fill %>')">
            <% if prod.user.photo? %>
              <div class="card-user">
                <%= cl_image_tag avatar_image(prod.user), class: "avatar-bordered" %>
              </div>
            <% end %>
            <div class="card-title">
              <h2><%= prod.name.pluralize %></h2>
            </div>
            <div class="card-description">
              <%= prod.quantity %> <%= prod.unit %> à
              <%= prod.price %> € <%= prod.price_unit %>
            </div>
          </div>
        <% end %>

      </div>
    <% end %>
  </div>
</div>

