<h1 class="text-center">Chez Robert !</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="text-center">
        <%= link_to "Production Index", productions_path %> |
        <%= link_to "New Production", new_production_path %>
      </div>
    </div>
  </div>
  <div class="row">
    <% @productions.last(4).each do |prod| %>
      <div class="col-sm-3">
        <% if @prod.photo? %>
         <%= cl_image_tag @prod.photo.path, width: 200, height: 300, crop: :fill %>
        <% end %>
        <%= prod.quantity %> <%= prod.unit %> de
        <%= prod.name %> à
        <%= prod.price %> <%= prod.price_unit %>
      </div>
    <% end %>
  </div>
</div>

